ul {
  padding: 1rem;
}

ul > * + * {
  display: block;
  margin: 1rem 0;
}

li {
  border-radius: 4px;
  background-color: hsl(220, 55%, 65%);
  list-style: none;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 18%);
}
