:host {
  display: block;
  padding: 1rem;
}

:host > * + * {
  margin: 1rem 0;
}

ul > * + * {
  display: block;
  margin: 1rem 0;
}

li {
  border-radius: 4px;
  background-color: hsl(220, 55%, 65%);
  list-style: none;
  padding: 1rem;
}
